body {
    background-color:cadetblue;font-family:Verdana, Geneva, Tahoma, sans-serif;background-image: url("hack.jpg");height: 100%;width:device-width;background-position: center;background-repeat:no-repeat;background-size:cover;text-align:center;
  }
  h1 {
    color: fuchsia;
  }
  h2 {
    color: paleturquoise;
  }
  p {
    color: fuchsia;
  }

  a {
    color:purple;
  }
  @font-face {
    font-family: FukuCatch;
    src: url("/FukuCatch.otf") format("opentype");
}

