body {
    background-color:cadetblue;font-family:Verdana, Geneva, Tahoma, sans-serif;background-image: url("hack.jpg");height: 100%;background-position: center;background-repeat:no-repeat;background-size:cover;text-align:center;
  }
  h1 {
    color: blue;
  }
  h2 {
    color: paleturquoise;
  }
  p {
    color: fuchsia;
  }

  a {
    color:purple;
  }

